.detail_front {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
    box-sizing: border-box;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    img { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}


.item_info {
    flex-basis: 50%;
    width: 100%;
    
    h1 {
        font-size: 100px;
        margin: 0;
    }
    .like_box, .release_date_box {
        font-size: 1.5rem;
        padding-left: 2%;
    }
    .like_box {
        display: flex;
    }

    p {
        margin: 0;
        padding-right: 10px;
    }
}



