.header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;

    .header_icon {
        display: flex;
        align-items: center;
        color: rgb(245, 245, 245);

        h1 {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .header_menu {
        display: flex;
        align-items: center;
    }
}



