.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav {
    display: flex;
    padding: 20px;
}
.nav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.nav a:hover {
    color: #444444;
}

.menu {
    padding: 20px;
}