.feedback_button {
    display: flex;
    color: rgb(122, 124, 133);
    gap: 10px;

    button {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: color 0.2s ease;
        font-size: calc(12px + 4px);
        cursor: pointer;

        &:hover {
            color: rgb(152, 154, 163); 
        }
    }

    .isFeedback {
        color: rgb(76, 118, 255);
        &:hover {
            color: rgb(96, 138, 255);
        }
    }
}