.content_profile {
    flex-basis: 60%;
    display: flex;
    margin-bottom: 64px;

    .content_img {
        flex-basis: 40%; 

        img {
            width: 100%;
            height: 100%;
            border : 1px solid transparent;
            border-radius: 2rem;
            object-fit: cover;
            overflow: hidden;
        }
    }

    .profile {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 36px;
    }
}
