html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}
/* 스크롤바 제거 */
::-webkit-scrollbar {
  display: none;
}
.page_static {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 5% 20%;
}
.page_fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}


.down-enter {
  transform: translateY(100%);
}

.down-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.down-exit {
  transform: translateY(0%);
}

.down-exit-active {
  transform: translateY(-100%);
  transition: transform 1s;
}

.up-enter {
  transform: translateY(-100%);
}

.up-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.up-exit {
  transform: translateY(0%);
}

.up-exit-active {
  transform: translateY(100%);
  transition: transform 1s;
}
.bar-animation-enter {
  height: 0%;
}

.bar-animation-enter-active {
  height: 60%;
  transition: height 500ms ease-in;
}








