html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.aa {
  width: 100%;
  height: 100%;
  position: fixed;
}
.일번 {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: blue;
  font-size: 100px;
  text-align: center;
}
.이번 {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: red;
  font-size: 100px;
  text-align: center;
}
.삼번 {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: green;
  font-size: 100px;
  text-align: center;
}
.down-enter {
  transform: translateY(100%);
}

.down-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.down-exit {
  transform: translateY(0%);
}

.down-exit-active {
  transform: translateY(-100%);
  transition: transform 1s;
}

.up-enter {
  transform: translateY(-100%);
}

.up-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.up-exit {
  transform: translateY(0%);
}

.up-exit-active {
  transform: translateY(100%);
  transition: transform 1s;
}








