html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}
/* 스크롤바 제거 */
::-webkit-scrollbar {
  display: none;
}
.page_static {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5% 10%;
}
.page_fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}


.down-enter {
  transform: translateY(100%);
}

.down-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.down-exit {
  transform: translateY(0%);
}

.down-exit-active {
  transform: translateY(-100%);
  transition: transform 1s;
}

.up-enter {
  transform: translateY(-100%);
}

.up-enter-active {
  transform: translateY(0%);
  transition: transform 1s;
}

.up-exit {
  transform: translateY(0%);
}

.up-exit-active {
  transform: translateY(100%);
  transition: transform 1s;
}




.menu-animation-enter {
  transform: translateX(100%);
}
.menu-animation-enter-active {
  transform: translateX(0%);
  transition: transform 300ms;
}
.menu-animation-exit {
  transform: translateX(0%);
}
.menu-animation-exit-active{
  transform: translateX(100%);
  transition: transform 300ms;
}








