.edit_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    border: 1px solid transparent;
    border-radius: 1rem;
    overflow: hidden;

    a {
        color: #ffffff;
    }
}