.list_item {
    position: relative;
    background-color: gray;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    .feedback {
        
    }

    .image_box {
        position: relative;
        width: 100%;
        padding-top: 100%; 
    
        img {
            position: absolute; // 이미지가 부모의 크기에 맞춰지도록 하기 위해 추가
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; // 이미지가 비율을 유지하며 부모 요소를 꽉 채우도록 수정
        }   
    }
    p {
        text-align: center;
    }

    &:hover {
        transform: scale(1.1);
    }
}



