.list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    
    &:hover {
        transform: scale(1.05);
    }

    p { margin: 0; }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content_card {
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        top : 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        
        &:hover { opacity: 1; }
    }

    .content_info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #FFFFFF;
        width: 100%;
        height: 100%;
        padding: 8%;
        box-sizing: border-box;

        .info_box {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40%;

            .title {
                flex-basis: 10%;
                margin: 0;
            }
            .description {
                flex-basis: 85%;
                color: #999999;
            }
            .attribute {
                flex-basis: 5%;
                color: #999999;
                display: flex;
            } 
        } 
    }

    .edit {
        color: #888888;
        position: absolute;
        top: 2%;
        right: 5%;
    }
}
