.trailer_wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-top : 56.25%;

    .trailer {
        position: absolute;
        top: 0;
        left: 0;
    }
}