.home_carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 27, 30);

    .carousel {
        position: relative;
        width: 100%;
        height: 100%;

        .carousel_item {
            display: flex;
            width: 100%;
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .blur { 
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                width: 100%;
                height: 100%;
            }            
        }
    }
    
    .home_carousel_content {
        position: absolute;
        bottom: 15%; 
        left: 50%; 
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: calc(60px + 4px);
            margin: 0;

            p { 
                display: inline;
                color: orangered;
                margin: 0;
            }
        }

        .info {
            font-size: calc(20px + 4px);
            color: rgb(122, 124, 133);
            margin: 30px 0 60px;
        }

        button {
            font-size: calc(20px + 4px);
            border-radius: 15px;
            min-width: 220px;
            min-height: 80px;
            background-color: rgb(61, 106, 255);
            transition: background-color 0.2s ease;
            cursor: pointer;
    
            &:hover {
                background-color: rgb(76, 118, 255);
            }
        }
    } 
}