.home_main {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: blue;

    .title_box {
        flex-basis: 50%;

        .title {
            margin-left: 8%;
            font-size: 100px;
            .color { color: orangered; }
            p { margin: 0; }
        }
    }
    .graph_box {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
    }
}

