.home_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%; 
    height: 100%;

    h1 {
        padding: 0 10%;
        margin-bottom: 2%;
        font-size: 100px;
    }
}
.info_box {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;

    .info_item {
        width: 20%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 1rem;
        }
        h2 {
            margin: 16px;
        }
        p {
            margin: 0;
        }
    }
}