.menu_popup {
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: #888888;
    list-style: none;

    li {
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
            color: #222222;
        }
    } 
}